.header{ 
    background-color: #00adb5;
    /* position: fixed; */
    width: 100%;
    box-shadow: 0 5px 10px 0 rgb(0 64 128 / 14%);
    position: fixed;
    /* margin-bottom: 2rem; */
    
    
    /* padding: 1.5rem; */
}
    

.icon-img img{
    width: 3.5rem;  
    vertical-align: middle;
}
.icon-img {   
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    display: inline;
}

.header-txt{
    color: white;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline;
    margin-left: 1rem;
    vertical-align: middle;
    display: inline;

}


.container {
    margin: top 20px;
    padding: 1.5rem 1.5rem;
    display: block;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.topPadding {
    padding-top: 5rem;
}

.card {
    padding: 1rem 2rem 1.5rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 1.3rem;
    box-shadow: 4px 5px 10px 0 rgb(0 64 128 / 14%);
    
}

.offwhitebg {
    background-color: #f9f7f7;
}

li {
    display: inherit;
}
.card .close {
   display: block;
   /* width: 100%; */
}

.card .close img{
    padding: 0.3rem 0.3rem;
    cursor: pointer;
    height: 1.2rem;
    float: right;
}

.card .title{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(35, 25, 73);
}

.card p{
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}
.card .title-sub {
    margin-top: 2rem;
    display: inline;
}
.card .date{
    float: right;
    margin-top: 0rem;
}


.header-txt-secondary {
    color: white;
    float: right;
    display: inline;
    vertical-align: middle;
    padding: 0.5rem 0.5rem;
    border: 1px solid azure;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 3rem;
}

.header-txt-secondary:hover {
    color: black;
    background-color: #f9f7f7;
    border: 1px solid azure;
}

.formDisplayNone {
    display: none;
}

.form-heading{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}


.row {
    display: block;
    margin: 1.3rem;
    margin-left: 2rem;
}

.form-label {
    width:  9rem;
    margin-bottom: 0.4rem;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Open Sans'
}

input , textarea{
    height: 2rem;
    width: -webkit-fill-available;
    background: transparent;
    border-radius: 0.5rem;
    border: 1px solid #c3cad8;
    font-family:sans-serif;
    padding: 0.3rem;
    padding-left: 0.5rem;
    font-family: 'Open Sans'
    
}

.inputValidation {
    border-color: red;
}

.inputValidationOverride {
    border-color: #c3cad8;
}

input:hover, textarea:hover{
    border-color: #00adb5;
}

.submitBtn{
    align-self: center;
    text-align: center;
    width: 5rem;
    padding: 0.5rem 0.5rem;
    border: 1.2px solid #00adb5;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin: auto;
}

.submitBtn:hover{
    color: white;
    border-color: white;
    background: #00adb5;
}

